#logo{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

#card_img{
    max-height: 170px;
    object-fit: cover;
}

.insta-logo,.facebook-logo{
    cursor: pointer;
}

.insta-logo:hover,.facebook-logo:hover{
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}