#logo{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

#card_img{
    max-height: 170px;
    object-fit: cover;
}

.insta-logo {
    background-image: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #FFDC80);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.facebook-logo {
    background-image: linear-gradient(90deg, #3b5998, #8b9dc3);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.github-logo {
    background-image: linear-gradient(90deg, #24292e, #6e5494);
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    color: transparent;
}

.insta-logo,.facebook-logo,.github-logo{
    cursor: pointer;
}

.insta-logo:hover,
.facebook-logo:hover,
.github-logo:hover {
    transform: scale(1.3);
    transition: all .4s ease-in-out;
}

body{
    background-color:#e0e0e0;
}