@import url(./partials/variables.css);
@import url(./partials/global.css);
@import url(./fonts.css);

/* ======Start Style navbar======  */

body::-webkit-scrollbar {
    width: 0;
}

.header .navbar-brand {
    padding: .8rem;
}

.header .container-fluid .navbar-collapse ul li {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* ======End Style navbar======  */

/* ==========Start login style========== */
.centered-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    /* background: url('../images//bg-images/bg/haseeb-jamil-J9lD6FS6_cs-unsplash.jpg');
     */
    background-size: cover;
    background: #e0e0e0;
}

.loginform {
    width: 100%;
    max-width: 500px;
    min-height: 300px;
    position: absolute;
    align-items: center;
    z-index: 1;
    background: #e0e0e0;
    box-shadow: -20px -20px 60px #bebebe,
        20px 20px 60px #ffffff;
}

.loginform .page-buttons button {
    padding: .5rem 1.2rem;
    background-color: transparent;
    border: none;
    position: relative;
    font-weight: bold;
    color: var(--form-text-color);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

.loginform .page-buttons .active::before {
    content: '';
    width: 80%;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 10%;
    background: linear-gradient(to right, transparent 0%, #36454F 20%, #36454F 80%, transparent 100%);
}

.loginform .form .button-group {
    padding: 20px 30px 10px 30px;
}

.loginform .form {
    width: 100%;
    position: relative;
    padding: 2rem 1rem 0.5rem 1rem;
}

.loginform .form .input-group .input-text {
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-radius: 50px !important;
    padding: 15px;
    background-color: #e8e8e8;
    box-shadow: 6px 6px 12px #ffffff,
        -6px -6px 12px #c5c5c5;
    font-size: medium;
    font-weight: bold;
}

.loginform .form .input-group .input-text::placeholder {
    color: var(--form-text-color);
    font-size: 14px;
    font-weight: bold;
}

.loginform .form .button-group .primary-button {
    width: 100%;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 50px;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #ffffff,
        -6px -6px 12px #c5c5c5;
}

.loginform .form .button-group .primary-button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.icon {
    position: absolute;
    top: 17px;
    right: 25px;
    color: var(--form-text-color);
}

/* Forgot Password Styling*/

.otpComponent {
    padding: 0rem 0rem .5rem 0rem;
}

.optInput {
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: #e8e8e8;
    border-radius: 50% !important;
    padding: 11px 20px 11px 20px;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 6px 6px 12px #ffffff,
        -6px -6px 12px #c5c5c5;
    font-size: medium;
    font-weight: bold;
}

/* End Forgot Password Styling */

/* CSS for Modal */
.modal-parent {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.modal-parent::-webkit-scrollbar {
    width: 0;
}

.modal-parent .modal-content {
    width: 80%;
    max-height: 80vh;
    overflow: auto;
    margin: auto;
    margin-top: 4rem;
    display: block;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.modal-parent .modal-content::-webkit-scrollbar {
    width: 0;
}

.modal-parent .modal-content .close-button {
    position: absolute;
    left: 100%;
    top: 0;
    transform: translateX(-100%);
    border: none;
    background: transparent;
}

.modal-parent .modal-content .checkout-button {
    position: relative;
    left: calc(100% - 7px);
    bottom: -7px;
    transform: translateX(-100%);
    text-transform: uppercase;
}

.cartTable {
    border-collapse: separate;
    table-layout: fixed;
    width: 100%;
    text-align: center;
}

.cartTable tr th {
    border-bottom: 2px solid black;
}

.cartTable tr td {
    overflow: hidden;
}

.cartTable tr td .closeButton {
    border: 1px solid transparent;
    background-color: transparent;
}

/* .cartTable tr td .closeButton:hover{
} */


.cartTable tr:first-child th:first-child,
.cartTable tr:first-child th:last-child {
    width: 10%;
}

.cartTable tr:first-child th:nth-child(2) {
    width: 40%;
}

.cartTable tr:first-child th:nth-child(3) {
    width: 20%;
}

.cartTable tr:first-child th:nth-child(4) {
    width: 20%;
}

.cartTable tr:first-child th:nth-child(5) {
    width: 20%;
}

.modal-parent .modal-content .tableDiv {
    width: 100%;
    padding: .1rem;
    display: inline-block;
}

.modal-parent .modal-content .tableDiv .cartDiv {
    border: 1px solid transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: .5rem;
    position: relative;
}

.modal-parent .modal-content .tableDiv .cartDiv span:nth-child(odd) {
    width: 70%;
    display: inline-block;
}

.modal-parent .modal-content .tableDiv .cartDiv span:nth-child(even) {
    width: 30%;
    display: inline-block;
}

.modal-parent .modal-content .tableDiv .cartDiv .closeButton {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
}

.myCarousel {
    width: 100%;
    height: 500px;
    margin-bottom: 10px;
    border-radius: 20px;
    overflow: hidden;
}

.myCarousel .carousel {
    height: 100%;
    width: 100%;
}

.myCarousel .carousel .carousel-inner {
    height: 100%;
    width: 100%;
}

.carousel-inner .carousel-item {
    height: 100%;
    width: 100%;
}

.carousel-inner .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
}


/* ==========End login style========== */

/* ==========End card style========== */

.card {
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;
    /* border: 1px solid black; */
    overflow: hidden;
}

.card .card-body div button {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.card .card-body div button:disabled {
    pointer-events: none;
}

.card .card-body div button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.card .card-body div button:active {
    box-shadow: none;
    transform: translateY(0);
}

.card .card-body div select{
    background-color: #e0e0e0;
    padding:2px 3px 2px 3px;
    border-radius: 0.9375em;
    margin-right: 4px;
}

.container .hr{
    border-width: 3px;
 }

/* ==========End card style========== */

/* ==========Start Footer style========== */



/* ==========End Footer style========== */